* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  color: #19283F;
}

body {
  padding: 12px 22px;
  transition: all 0.4s;
}

body.dark {
  background-color: #19283F;
  color: #fff;
}
body.dark .menuIconMobile svg path {
  stroke: #fff;
}
body.dark .weatherLogo path {
  stroke: #fff;
}
body.dark svg {
  fill: #fff;
}
body.dark svg path {
  fill: #fff;
}
body.dark .navDesktop,
body.dark .weatherPerHours__sliderWeatherHours,
body.dark .header__containerInputSearch,
body.dark .mainWeather__stats,
body.dark .mobileNav,
body.dark .headerMobileSearch__inputSearch {
  background-color: #2E4669;
}
body.dark input {
  color: #fff;
  background-color: #2E4669;
}
body.dark main .navDesktop__content .btnActiveNavDesktop {
  border-bottom: 2px solid #fff;
}
body.dark .mainDesktop .mainDesktop__header .header__containerInputSearch {
  background-color: #2E4669;
}
body.dark .mainDesktop .mainDesktop__header .header__containerInputSearch .searchCityDesktop {
  background-color: #2E4669;
}
body.dark .mainDesktop .mainWeather .mainWeather__infoCity ul {
  text-shadow: 2px -2px #19283F;
}
body.dark .mainDesktop .mainWeather .mainWeather__Temp h1 {
  text-shadow: 2px -2px #19283F;
}
body.dark .mainDesktop .mainWeather .mainWeather__Temp p {
  text-shadow: 2px -2px #19283F;
}
body.dark .mainDesktop .weatherPerHours .weatherPerHours__sliderWeatherHours {
  background-color: #2E4669;
}
body.dark .mainDesktop .weatherPerHours .weatherPerHours__sliderWeatherHours .sliderWeatherHours__weatherHour {
  background-color: #566F95;
}
body.dark .mainSearchMobile__city .cityName,
body.dark .mainSearchMobile__city .cityTemp {
  color: #19283F;
}
body.dark .mainSearchMobile__city .cityTemp {
  color: #fff;
}
body.dark .mainNext2Days {
  background-color: #2E4669;
}
body.dark .mainNext2Days__content .content__city {
  background-color: #566F95;
}
body.dark .savedCities h2 {
  color: #19283F;
}
body.dark .savedCities .noCitiesFeedBack {
  color: #fff;
}
body.dark .modal article {
  background-color: #2E4669;
}
body.dark .modal button {
  background-color: #566F95;
  color: #fff;
}
body.dark ::-webkit-scrollbar-thumb {
  background-color: #fff;
}

h1 {
  font-size: 2.4rem;
}

.hidden {
  display: none !important;
}

.menuIconMobile {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.menuIconMobile svg {
  margin: auto;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0 22px;
  }
  body header {
    display: none;
  }
  body main {
    display: grid;
    grid-template-columns: 246px 934px 280px;
    grid-template-rows: auto;
    justify-content: center;
    height: 100vh;
  }
  body main .navDesktop {
    grid-row: 1/3;
    display: block;
    padding: 26px 20px;
    border-radius: 8px;
    background-color: #FBEFEF;
  }
  body main .navDesktop__title {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
  }
  body main .navDesktop__title h1 {
    font-size: 2rem;
  }
  body main .navDesktop__title .title__log {
    display: flex;
    justify-content: center;
    margin-right: 12px;
  }
  body main .navDesktop__content {
    list-style: none;
    padding-left: 20px;
  }
  body main .navDesktop__content li {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    padding-bottom: 6px;
    font-size: 1.8rem;
    cursor: pointer;
  }
  body main .navDesktop__content .btnActiveNavDesktop {
    border-bottom: 2px solid #19283F;
  }
  body main .navDesktop__content .content__DashBoardIcon {
    display: flex;
    justify-content: center;
    margin-right: 12px;
  }
  body main .navDesktop__content .content__SavedIcon {
    display: flex;
    justify-content: center;
    margin-right: 12px;
  }
  body main .navDesktop__content .content__MoonIcon {
    display: flex;
    justify-content: center;
    margin-right: 12px;
  }
  body main .navDesktop__content .content__darkMode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 14px; /* Rounded sliders */
  }
  body main .navDesktop__content .content__darkMode .switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 16px;
  }
  body main .navDesktop__content .content__darkMode .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  body main .navDesktop__content .content__darkMode .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -4px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  body main .navDesktop__content .content__darkMode .slider:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    left: 0px;
    top: 1.8px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  body main .navDesktop__content .content__darkMode input:checked + .slider {
    background-color: #2196F3;
  }
  body main .navDesktop__content .content__darkMode input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  body main .navDesktop__content .content__darkMode input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  body main .navDesktop__content .content__darkMode .slider.round {
    border-radius: 34px;
  }
  body main .navDesktop__content .content__darkMode .slider.round:before {
    border-radius: 50%;
  }
  body main .mainDesktop {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    padding: 24px 23px 0 23px;
  }
  body main .mainDesktop__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body main .mainDesktop__header .header__containerInputSearch {
    display: flex;
    align-items: center;
    width: 30%;
    height: 31px;
    padding: 9px 7px;
    border-radius: 8px;
    background-color: #F3F3F3;
  }
  body main .mainDesktop__header .header__containerInputSearch input {
    width: 70%;
    padding: 4px;
    font-size: 1.6rem;
    border: none;
    background-color: #F3F3F3;
  }
  body main .mainDesktop__header .header__containerInputSearch input:focus {
    outline: none;
  }
  body main .mainDesktop__header .header__containerInputSearch .containerInputSearch__searchIcon {
    display: flex;
    justify-content: center;
    margin-right: 12px;
    margin-right: 2px;
  }
  body main .mainDesktop .mainWeather {
    display: flex;
    flex-direction: column;
    height: 350px;
    margin-top: 30px;
    padding: 23px;
    border-radius: 8px;
    background-color: #c3c3c3;
  }
  body main .mainDesktop .mainWeather .mainWeather__saveCity {
    top: -54px;
  }
  body main .mainDesktop .mainWeather .mainWeather__infoCity .infoCity__titleCityDesktop {
    display: block;
    margin-bottom: 6px;
  }
  body main .mainDesktop .mainWeather .mainWeather__infoCity .infoCity__titleCityDesktop h1 {
    font-size: 4rem;
  }
  body main .mainDesktop .mainWeather .mainWeather__infoCity li {
    font-size: 1.7rem;
  }
  body main .mainDesktop .mainWeather .mainWeather__Temp {
    place-items: unset;
    padding-top: 17px;
    margin-left: 157px;
  }
  body main .mainDesktop .mainWeather .mainWeather__Temp h1 {
    font-size: 4.8rem;
  }
  body main .mainDesktop .mainWeather .mainWeather__stats {
    position: initial;
    align-self: center;
    width: 567px;
    height: 106px;
    box-shadow: none;
    background-color: transparent;
    margin-top: 24px;
  }
  body main .mainDesktop .mainWeather .mainWeather__stats .stats__pressure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 124px;
    height: 80px;
    color: #fff;
    text-align: center;
    background-color: #19283F;
    border-radius: 8px;
    font-size: 1.4rem;
  }
  body main .mainDesktop .mainWeather .mainWeather__stats .stats__humadity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 124px;
    height: 80px;
    color: #19283F;
    text-align: center;
    background-color: #CCE16A;
    border-radius: 8px;
    font-size: 1.4rem;
  }
  body main .mainDesktop .mainWeather .mainWeather__stats .stats__wind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 124px;
    height: 80px;
    color: #19283F;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    font-size: 1.4rem;
  }
  body main .mainDesktop .weatherPerHours {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 24px;
  }
  body main .mainDesktop .weatherPerHours__header {
    display: block;
  }
  body main .mainDesktop .weatherPerHours__header h2 {
    font-size: 2.4rem;
  }
  body main .mainDesktop .weatherPerHours__header .twoDaysMore {
    display: none;
  }
  body main .mainDesktop .weatherPerHours__sliderWeatherHours {
    height: 100%;
    padding-left: 24px;
    background-color: #FBEFEF;
  }
  body main .mainDesktop .weatherPerHours__sliderWeatherHours .sliderWeatherHours__weatherHour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 90%;
    margin: auto 0;
    margin-right: 20px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    background-color: #fefefe;
  }
  body main .savedCities {
    grid-column: 2/4;
    grid-row: 1/3;
    align-self: flex-start;
    display: flex;
    flex-flow: row wrap;
    align-items: initial;
    height: 100%;
    padding: 23px;
    overflow-y: scroll;
  }
  body main .savedCities__city {
    width: 542px;
    height: 220px;
    margin-right: 36px;
    margin-bottom: 36px;
    cursor: pointer;
    padding-left: 46px;
  }
  body main .savedCities__city h2 {
    font-size: 3rem;
    margin-bottom: 30px;
  }
  body main .mainNext2Days {
    grid-column: 3/4;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    padding: 24px 20px;
    border-radius: 8px;
    background-color: #FBEFEF;
  }
  body main .mainNext2Days .mainNext2Days__title {
    display: block;
    text-align: center;
    font-size: 2rem;
  }
  body main .mainNext2Days__content {
    padding-top: 38px;
  }
  body main .mainNext2Days__content .content__city {
    background-color: #fefefe;
  }
  body ::-webkit-scrollbar {
    width: 1em;
    height: 12px;
  }
  body ::-webkit-scrollbar-thumb {
    background-color: #2E4669;
    border-radius: 12px;
  }
}

/*# sourceMappingURL=desktop.css.map */
