@import "./globales.scss";
@import "./headersMobile.scss";


main {
    position: relative;
    width: 100%;
    padding: 25px 0px;

    .navDesktop {
        display: none;
    }

    .main__header {
        display: none
    }

    .mainWeather {
        // display: none;
        position: relative;
        min-width: 280px;
        height: 295px;
        padding: 18px;
        border-radius: 8px;
        background-color: #c3c3c3;

        .mainWeather__infoCity {
            display: flex;
            justify-content: space-between;
            align-items: align;

            .infoCity__titleCityDesktop {
                display: none;
            }

            ul {
                list-style: none;
                font-size: 1.2rem;
            }
        }

        .mainWeather__Temp {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            place-items: center;
            padding-top: 40px;

            h1 {
                font-size: 6.4rem;
            }

            p {
                font-size: 1.6rem;
            }
        }

        .mainWeather__stats {
            position: absolute;
            left: calc(50% - 152px);
            bottom: -30px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 304px;
            height: 80px;
            border-radius: 8px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            background-color: $white;

            div p:first-child {
                padding-bottom: 10px;
            }

            .stats__pressure {
                @include stats($colorText, $white, 82px, 59px);
            }

            .stats__humadity {
                @include stats($green, $colorText, 82px, 59px);
            }

            .stats__wind {
                @include stats($white, $colorText, 82px, 59px);
            }
        }
    }

    .weatherPerHours {
        // display: none;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        row-gap: 18px;
        padding-top: 65px;

        .weatherPerHours__header {
            display: flex;
            justify-content: space-between;

            h2 {
                font-size: 1.8rem;
            }

            h2:last-child {
                display: flex;
                align-items: center;
            }

            .header__rightArrow {
                @include icons("../assets/icons/rightArrow.svg", 20px, 20px)
            }

        }

        .weatherPerHours__sliderWeatherHours {
            display: -webkit-box;
            width: 100%;
            height: 170px;
            margin: auto;
            border-radius: 12px;
            // background-color: pink;
            overflow-x: scroll;

            .sliderWeatherHours__weatherHour {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 80px;
                height: 90%;
                margin: auto 0;
                margin-right: 20px;
                padding: 12px;
                border-radius: 12px;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
                background-color: $colorPanel;
            }

            .weatherHour__icon {
                width: 50px;
                height: 50px;
                object-fit: center
            }
        }
    }

    .mainSearchMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;


        &__city {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 87px;
            padding: 25px;
            margin-bottom: 22px;
            border-radius: 8px;
            background-color: #c3c3c3;
        }
    }

    .mainSavedCitiesMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;


        &__city {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 87px;
            padding: 15px;
            margin-bottom: 32px;
            border-radius: 8px;
            background-color: #c3c3c3;
        }
    }

    .mainNext2Days {
        display: none;
    }

    .mainNext2DaysMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;


        &__city {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            width: 100%;
            height: 87px;
            padding: 15px 20px;
            margin-bottom: 32px;
            border-radius: 8px;
            background-color: #c3c3c3;


            p {
                font-size: 1.4rem;
            }

            .city__dayDate {
                grid-column: 2/3;
                grid-row: 1/2;
                justify-self: end
            }

            .city__info {
                grid-column: 1/2;
                grid-row: 1/3;
                align-self: center;

                h2 {
                    font-size: 2.4rem;
                }
            }
        }


    }
}

.modalLoading {
    @include modal();

    &__logo {
        position: absolute;
        left: calc(50% - 50px);
        top: calc(50% - 50px);
        display: inline-block;
        width: 100px;
        height: 100px;
        background: url("../assets/icons/weatherIcon.svg") center/contain no-repeat;
        animation: pulse 0.8s infinite;
    }
}

.modalFirstLoading {
    @include modal();
    background-color: $white;

    &__logo {
        position: absolute;
        left: calc(50% - 50px);
        top: calc(50% - 50px);
        display: inline-block;
        width: 100px;
        height: 100px;
        background: url("../assets/icons/weatherIcon.svg") center/contain no-repeat;
        animation: pulse 0.8s infinite;
    }
}

.modalFail {
    @include modal();

    article {
        position: absolute;
        left: calc(50% - 124px);
        top: calc(50% - 127px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 248px;
        height: 254px;
        padding: 10px;
        border-radius: 8px;
        text-align: center;
        background-color: #f3f3f3;

        h2 {
            font-size: 2rem;
            margin-bottom: 30px;
        }

        button {
            padding: 10px;
            cursor: pointer;
            border-radius: 8px;
            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            // transition: all 0.3s;

            background: #f3f3f3;
            transform: translateY(-0.1em);
            transition: transform 0.1s ease;

        }

        button:hover {
            transform: translateY(-0.18em);
        }

        button:active {
            transform: translateY(0);
        }


    }
}